Specification.XML/Schemas/specification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:df="dataformat/filekeys" xml:lang="en-us" targetNamespace="dataformat/filekeys">
  <xs:simpleType name="NoSlashesStringType">
    <xs:restriction base="string">
      <xs:pattern value="[^\\/]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComparisonType">
    <xs:restriction base="string">
      <xs:enumeration value="StartsWith" />
      <xs:enumeration value="EndsWith" />
      <xs:enumeration value="Contains" />
      <xs:enumeration value="Equals" />
      <xs:enumeration value="DoesNotEqual" />
      <xs:enumeration value="DoesNotContain" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HeaderStringType">
    <xs:restriction base="token">
      <xs:maxLength value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FileNameType" mixed="false">
    <xs:simpleContent>
      <xs:extension base="df:NoSlashesStringType">
        <xs:attribute name="ComparisonType" type="df:ComparisonType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FormatType">
    <xs:sequence>
      <xs:element name="FileExt" minOccurs="0" maxOccurs="unbounded" type="token" />
      <xs:element name="FileHeader" minOccurs="0" maxOccurs="unbounded" type="df:HeaderStringType" />
      <xs:element name="FileName" minOccurs="0" maxOccurs="unbounded" type="df:FileNameType" />
      <xs:element name="FileSize" minOccurs="0" maxOccurs="unbounded" type="normalizedString" />
    </xs:sequence>
    <xs:attribute name="name" type="token" />
  </xs:complexType>
  <xs:element name="Formats">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Format" minOccurs="0" maxOccurs="unbounded" type="df:FormatType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>